* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left, .right {
    flex: 1;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.area {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    resize: none;
}